.u-section-1 {
    background-color: #f2f2f2;
}

.u-section-1 .u-sheet-1 {
    min-height: 681px;
}

.u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 3.75rem;
    margin: 36px 650px 0 37px;
}

.u-section-1 .u-text-2 {
    font-weight: 700;
    background-image: none;
    font-size: 1.875rem;
    margin: 26px 920px 0 37px;
}

.u-section-1 .u-text-3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 58px 898px 0 36px;
}

.u-section-1 .u-text-4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 88px 881px 0 37px;
}

.u-section-1 .u-map-1 {
    width: 569px;
    height: 452px;
    margin: -290px 23px 60px auto;
}

@media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
        width: 525px;
        margin-right: 515px;
        margin-left: 100px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 670px;
        margin-left: 178px;
    }

    .u-section-1 .u-text-3 {
        margin-right: 653px;
        margin-left: 178px;
    }

    .u-section-1 .u-text-4 {
        margin-right: 630px;
        margin-left: 178px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-text-1 {
        margin-right: 405px;
        margin-left: 210px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 560px;
        margin-left: 288px;
    }

    .u-section-1 .u-text-3 {
        margin-right: 543px;
        margin-left: 288px;
    }

    .u-section-1 .u-text-4 {
        margin-right: 520px;
        margin-left: 288px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-text-1 {
        margin-right: 315px;
        margin-left: 300px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 470px;
        margin-left: 378px;
    }

    .u-section-1 .u-text-3 {
        margin-right: 453px;
        margin-left: 378px;
    }

    .u-section-1 .u-text-4 {
        margin-right: 430px;
        margin-left: 378px;
    }

    .u-section-1 .u-map-1 {
        width: 540px;
        margin-right: 0;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-text-1 {
        width: auto;
        font-size: 2.25rem;
        margin-top: 57px;
        margin-right: 513px;
        margin-left: 412px;
    }

    .u-section-1 .u-text-2 {
        font-size: 1.5rem;
        margin-top: 129px;
        margin-right: 516px;
        margin-left: 478px;
    }

    .u-section-1 .u-text-3 {
        margin-right: 456px;
        margin-left: 478px;
    }

    .u-section-1 .u-text-4 {
        margin-right: 440px;
        margin-left: 478px;
    }

    .u-section-1 .u-map-1 {
        width: 340px;
    }
}
