.u-section-1 {
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
  min-height: 599px;
}

.u-section-1 .u-sheet-1 {
  min-height: 599px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 471px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 47px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 494px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 378px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 18px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    font-weight: 700;
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 34px;
  }
}